* {
  margin: 0;
  padding: 0;
  font-family: "SunnySpells";
  box-sizing: border-box;
}
@font-face {
  font-family: "SunnySpells";
  src: url("../fonts/Sunny-Spells.ttf") format("truetype");
}

body{
  height: 100vh;
  background-repeat: repeat;
  background-color: #E6D0E9;
  background-image: linear-gradient(to bottom, transparent, transparent 16.6667%, #E6D0E9 16.6667%),
  linear-gradient(to right, #FFFFFF, #FFFFFF 16.6667%, #E6D0E9 16.6667%);
  background-size: 6px 6px;
}
:visited, :link{
  color: #843893;
  text-decoration: none;
}