.header{
    background-repeat: repeat;
    background-color: #E6D0E9;
    background-image: linear-gradient(to bottom, transparent, transparent 16.6667%, #E6D0E9 16.6667%),
    linear-gradient(to right, #FFFFFF, #FFFFFF 16.6667%, #E6D0E9 16.6667%);
    background-size: 6px 6px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-family: 'Sunny Spells', sans-serif;
}
.month{
    margin-left: 58px;
    margin-top:12px;
    font-size: 88px;
    text-decoration-line: underline;
    color: #FFF9AE;
    text-shadow: 4px 3px 4px #968A8E;
}
.search{
    margin-top: 70px;
    margin-left: 164px;
    
}
.searchbox{
    border: none;
    width: 200px;
    height: 28px;
    font-size: 21px;
    background-image: url("/src/search.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}